* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Acme, Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

main {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    width: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

label {
    margin-bottom: 0.3rem;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

button {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #ccc;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;
    font-weight: 600;
    font-size: 1rem;
}

li button {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #d33;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #d33;
    color: white;
}

@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }
}